<ion-header>  
  <ion-toolbar>  
    <ion-row class="background-transparent">  
      <ion-col size="3">  
        <ion-img src="../../../assets/img/Logo_DuocUC.svg.png"></ion-img>  
      </ion-col>  
      <ion-col>  
        <ion-title class="ion-text-left ion-text font-size-18 animate-text">  
          <div style="color: rgb(255, 145, 0);">  
            Sistema de Asistencia DUOC  
          </div>  
        </ion-title>  
      </ion-col>  
    </ion-row>  
  </ion-toolbar>  
</ion-header>   

 
<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center ">  
  <ul class="breadcrumb">  
    <li><a (click)="navegar('/inicio')">Inicio</a></li>  
    <li><a (click)="navegar('/misdatos')">Mis Datos</a></li>  
    <li><a (click)="navegar('/miclase')">Mi Clase</a></li>  
    <li><a (click)="navegar('/ingreso')">Salir</a></li>  
  </ul>  

  <div class="background-image"></div> <!-- Imagen de fondo -->
    <div >
      <ion-card name="card" style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff; font-size: 12px;">
          <h1 class="font-size-18"   *ngIf="usuario.cuenta.trim() !== ''">
            ¡Bienvenido(a) 
            {{ usuario.nombre }} 
            {{ usuario.apellido }}!
          </h1>
          <h1 class="font-size-18"   *ngIf="usuario.cuenta.trim() == ''">
            Para usar el sistema debe llenar sus datos
          </h1>
          <h2 class="font-size-18"  >
            Mis datos personales
          </h2>
        
        <ion-card #itemCuenta class="">  
          <ion-input [(ngModel)]="usuario.cuenta"  
              label="Cuenta" labelPlacement="floating"  
              placeholder="Ej: atorres"></ion-input>  
        </ion-card>  
        
        <ion-card #itemNombre class="">  
          <ion-input [(ngModel)]="usuario.nombre"   
              label="Nombre" labelPlacement="floating"  
              placeholder="Ej: Ana"></ion-input>  
        </ion-card>  
        
        <ion-card #itemApellido class="">  
          <ion-input [(ngModel)]="usuario.apellido"  
              label="Apellido" labelPlacement="floating"  
              placeholder="Ej: Torres"></ion-input>  
        </ion-card>  

        <ion-card #itemCorreo class="">  
          <ion-input [(ngModel)]="usuario.correo"   
              label="Correo" labelPlacement="floating"  
              placeholder="Ej: atorres@duocuc.cl"></ion-input>  
        </ion-card> 
        
        <ion-card #itemPreguntaSecreta class="">  
          <ion-input [(ngModel)]="usuario.preguntaSecreta"   
              label="Pregunta Secreta" labelPlacement="floating"  
              placeholder="Ej: ¿Nombre de tu mascota?"></ion-input>  
        </ion-card> 

        <ion-card #itemRespuestaSecreta class="">  
          <ion-input [(ngModel)]="usuario.respuestaSecreta"   
              label="Respuesta Secreta" labelPlacement="floating"  
              placeholder="Ej: minino"></ion-input>  
        </ion-card> 
        
        <ion-card #itemEducacion class="font-size-12 ">  
          <ion-select [(ngModel)]="usuario.nivelEducacional!.id"  
              (ionChange)="actualizarNivelEducacional($event)"  
              label="Educación" position="floating">  
            <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales"   
              [value]="nivelEducacional.id">  
                {{nivelEducacional.nombre}}  
            </ion-select-option>  
          </ion-select>  
        </ion-card>  
        
        <ion-card #itemFechaNacimiento class="ion-padding-bottom " style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;">  
          <table>  
            <tr>  
              <td class="font-size-12" style="color:#ffffff;">Nacimiento</td>  
              <td class="cell-align-right">  
                <input matInput [matDatepicker]="fechaNacimiento"  
                  [(ngModel)]="usuario.fechaNacimiento"  
                  placeholder="dd/mm/yyyy"  
                  class="date-width">  
              </td>  
              <td class="cell-width-0"  >  
                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>  
                <mat-datepicker #fechaNacimiento></mat-datepicker>  
              </td>  
            </tr>  
          </table>  
        </ion-card>

        <ion-card #itemPassword style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;">  
          <ion-label  style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;" position="floating">Contraseña</ion-label>  
          <ion-input  style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;" type="password" placeholder="" [(ngModel)]="usuario.password"></ion-input>  
        </ion-card>  

        <ion-card #itemRepetirPassword style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;">  
          <ion-label  style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;" position="floating">Repetir contraseña</ion-label>  
          <ion-input style="background-color: rgba(255, 166, 0, 0.725); color: #ffffff;" type="password" [(ngModel)]="usuario.confirmPassword" placeholder=""></ion-input>  
          <ion-note *ngIf="usuario.password && usuario.confirmPassword && usuario.password !== usuario.confirmPassword" color="danger">
            Las contraseñas no coinciden.
          </ion-note>
        </ion-card>
      </ion-card>

      <ion-button shape="round" size="small" (click)="limpiarAnimandoDerIzq()">  
        Limpiar 
      </ion-button>   

      <ion-button shape="round" size="small" (click)="mostrarDatosPersona()">  
        Ver datos  
      </ion-button>  

      <ion-button shape="round" size="small" (click)="actualizarUsuario()">  
        Actualizar usuario  
      </ion-button>  
      
    </div>

</ion-content>  

