<ion-header>  
  <ion-toolbar>  
    <ion-row class="background-transparent">  
      <ion-col size="3">  
        <ion-img src="../../../assets/img/Logo_DuocUC.svg.png"></ion-img>  
      </ion-col>  
      <ion-col>  
        <ion-title class="ion-text-left ion-text font-size-18 animate-text">  
          <div>  
            Sistema de Asistencia DUOC  
          </div>  
        </ion-title>  
      </ion-col>  
    </ion-row>  
  </ion-toolbar>  
</ion-header>   

 
<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center ">  
  <ul class="breadcrumb">  
    <li><a (click)="navegar('/inicio')">Inicio</a></li>  
    <li><a (click)="navegar('/misdatos')">Mis Datos</a></li>  
    <li><a (click)="navegar('/miclase')">Mi Clase</a></li>  
    <li><a (click)="navegar('/ingreso')">Salir</a></li>  
  </ul>  

  <div class="background-image"></div> <!-- Imagen de fondo -->
    <div style="background-color: rgba(255, 165, 0, 0.2);">
      <ion-toolbar class="ion-padding-top " >
        <h1 *ngIf="usuario.cuenta.trim() !== ''">
          ¡Bienvenido(a) 
          {{ usuario.nombre }} 
          {{ usuario.apellido }}!
        </h1>
        <h1 *ngIf="usuario.cuenta.trim() == ''">
          Para usar el sistema debe llenar sus datos
        </h1>
        <h2>
          Mis datos personales
        </h2>
      </ion-toolbar>

      <ion-item #itemCuenta class="">  
        <ion-input [(ngModel)]="usuario.cuenta"  
            label="Cuenta" labelPlacement="floating"  
            placeholder="Ej: atorres"></ion-input>  
      </ion-item>  
      
      <ion-item #itemNombre class="">  
        <ion-input [(ngModel)]="usuario.nombre"   
            label="Nombre" labelPlacement="floating"  
            placeholder="Ej: Ana"></ion-input>  
      </ion-item>  
      
      <ion-item #itemApellido class="">  
        <ion-input [(ngModel)]="usuario.apellido"  
            label="Apellido" labelPlacement="floating"  
            placeholder="Ej: Torres"></ion-input>  
      </ion-item>  
      
      <ion-item #itemEducacion class="font-size-12 ">  
        <ion-select [(ngModel)]="usuario.nivelEducacional!.id"  
            (ionChange)="actualizarNivelEducacional($event)"  
            label="Educación" position="floating">  
          <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales"   
            [value]="nivelEducacional.id">  
              {{nivelEducacional.nombre}}  
          </ion-select-option>  
        </ion-select>  
      </ion-item>  
      
      <ion-item #itemFechaNacimiento class="ion-padding-bottom ">  
        <table>  
          <tr>  
            <td class="font-size-12">Nacimiento</td>  
            <td class="cell-align-right">  
              <input matInput [matDatepicker]="fechaNacimiento"  
                [(ngModel)]="usuario.fechaNacimiento"  
                placeholder="dd/mm/yyyy"  
                class="date-width">  
            </td>  
            <td class="cell-width-0">  
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>  
              <mat-datepicker #fechaNacimiento></mat-datepicker>  
            </td>  
          </tr>  
        </table>  
      </ion-item>


      <ion-button shape="round" size="small" (click)="limpiarAnimandoDerIzq()">  
        Limpiar 
      </ion-button>   

      <ion-button shape="round" size="small" (click)="mostrarDatosPersona()">  
        Ver datos  
      </ion-button>  

      <ion-button shape="round" size="small" (click)="actualizarUsuario()">  
        Actualizar usuario  
      </ion-button>  
  </div>

</ion-content>  

