ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  border: none; /* Remueve cualquier borde visible */
}

ion-input, ion-select,ion-toolbar {
  color: rgb(255, 145, 0);
  text-align: center;
}



table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 0px;
  color: rgb(0, 0, 0);
}

.font-size-12 {
  font-size: 12px;
  color: rgb(255, 145, 0);
}

.font-size-16 {
  font-size: 16px;
  color: rgb(255, 145, 0);
}

.font-size-18 {
  font-size: 18px;
}

.date-width {
  width: 105px;
}

.cell-align-right {
  text-align: right;
}

.cell-width-0 {
  width: 0px;
}

html, body {
  height: 100%; /* Asegura que el fondo ocupe toda la altura de la página */
  margin: 0;
  padding: 0; 
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza la página */
}




main {
  max-height: 100vh; /* Asegura que el contenedor no exceda la altura de la ventana */
  overflow-y: auto;  /* Permite scroll si es necesario */
}

.book {
  width: 71%;
  height: 101%;
  perspective: 1000px;
  margin: 10px auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: scroll; /* Hace que la imagen se desplace con el contenido */
  opacity: 0.9; /* Ajusta la transparencia de la imagen */
  color: #000000;
}

.background-transparent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/si.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9; /* Ajusta el nivel de transparencia */
  filter: blur(3px); /* Ajusta el nivel de desenfoque */
  z-index: -1;
}
/* Asegúrate de que los elementos internos no se vean afectados */
.background-transparent * {
  position: relative;
  z-index: 1;
}


.boton-limpiar {
  background-color: #FFA500;
  color: #FFFFFF;
}
.letranegra{
  color: #090909;
  background-color: #000000;
}
.page {
  width: 100%;
  height: 80%;
  background-color: white;
  border: 10px solid #FFA500;
  position: absolute;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
  
}

/* CSS para la animación del texto */
.animate-text {
  animation: moveRightFadeInOut 5s linear infinite;
}
.item-native{
  background-color: rgba(255, 165, 0, 0.2);
}

@keyframes moveRightFadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%); /* Comienza fuera de la pantalla a la izquierda */
  }
  25% {
    opacity: 1;
    transform: translateX(0); /* Aparece suavemente en su posición inicial */
  }
  75% {
    opacity: 1;
    transform: translateX(50%); /* Se mueve a la derecha, completamente visible */
  }
  100% {
    opacity: 0;
    transform: translateX(100%); /* Se desvanece hacia la derecha, fuera de la pantalla */
  }
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(248, 200, 158) #ffffff;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #FF4500;
}

.breadcrumb {
  display: flex;
  list-style: none;
  background-color: #FFA500;
  padding: 6px;
  border-radius: 5px;
}

.breadcrumb li {
  margin-right: 10px;
}

.breadcrumb li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 10px;
  color: rgb(248, 200, 158);
}

.breadcrumb li:last-child::after {
  content: ""; /* Elimina el ">" en el último elemento */
}
.scrollbar{
  background-color: #FF4500;
}

.logo-img {
  width: 90px;  /* Ancho deseado */
  height: 5px;  /* Mantiene la proporción de la imagen */
}

.background-footer {
  position: relative;
  width: 100%;
  height: 10%;
  overflow: hidden;
  text-align: center;

}

.background-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/IMG_20230418_082225.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1; /* Ajusta el nivel de transparencia */
  filter: blur(1px); /* Ajusta el nivel de desenfoque */
  z-index: -1;
}

/* Asegúrate de que los elementos internos no se vean afectados */
.background-footer * {
  position: relative;
  z-index: 1;
  
}
/* Botones naranjas */  
.btn-orange,  
ion-button {  
  --background: #FFA500; /* Fondo naranja */  
  --color: #FFFFFF; /* Texto blanco */  
  --border-radius: 15px; /* Redondeo de los bordes */  
  border: none; /* Eliminar el borde por defecto */  
  padding: 10px 20px; /* Ajustar el tamaño del botón */  
  text-align: center; /* Centrar el texto */  
}  

.btn-orange:hover,  
ion-button:hover {  
  --background: #FF8C00; /* Fondo naranja más oscuro al pasar el ratón */  
  color: white; /* Asegurarse de que el texto sea blanco en hover */  
}

.orange-button:hover {
  --background: #FF8C00; /* Color de fondo naranja más oscuro al pasar el ratón */
}
.background-container {
  position: relative; /* Permite el posicionamiento absoluto de los hijos */
  height: 10%; /* Asegura que ocupe toda la altura */
}
.btn-orange {
  --background: #FFA500; /* Fondo naranja */
  --color: #FFFFFF; /* Texto blanco */
  --border-radius: 15px; /* Redondeo de los bordes */
  border: none; /* Eliminar el borde por defecto */
  padding: 0px 0px; /* Ajustar el tamaño del botón */
  text-align: center; /* Centrar el texto */
  display: inline-block; /* Asegurar que el botón se comporte correctamente */
}

.btn-orange:hover {
  --background: #FF8C00; /* Fondo naranja más oscuro al pasar el ratón */
}

.fondo-pagina {
  background-image: url('../../../assets/img/IMG_20230406_080720.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
}
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #FFA500;
  padding: 6px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  margin-left: 10px; /* Ajusta el valor para moverlo más hacia la derecha */
}

.transparent-toolbar {  
  --background: transparent;  
  font-weight: bold;
}

.transparent-item {
  background-color: rgba(255, 165, 0, 0.2);
}



.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/IMG_20230406_080720.jpg'); /* Cambia a tu imagen */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Envía la imagen al fondo */
}


