.full-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Agrega posición relativa para que los elementos secundarios se posicionen correctamente */
}

ion-header ion-img {
  width: 100px; /* Ajustamos el tamaño del logo */
  height: auto;
  margin: 10px; /* Añadimos un pequeño margen */
}
.title {  
  font-weight: bold; /* Para poner el texto en negritas */  
  color: orange; /* Ajusta el color a naranja */  
  font-size: 1.5rem;
  animation: moverTittle 5s ease-in-out infinite; /* Usar la animación definida */
}
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

img.img-fluid {  
  position: absolute;  
  right: 0;  
  top: 0;  
  z-index: -100; /* Asegúrate de que el z-index esté lo suficientemente bajo */  
  width: 100%;  
  height: 100%;  
}

.orange-button {
  --background: #FFA500; /* Color de fondo naranja */
  --color: #ffffff; /* Color del texto blanco */
  --border-radius: 25px; /* Redondeo de los bordes */
  border: none; /* Eliminar el borde por defecto */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  text-align: center; /* Centrar el texto */
  display: inline-block; /* Asegurar que el botón se comporte correctamente */
}

.orange-button:hover {
  --background: #FF8C00; /* Color de fondo naranja más oscuro al pasar el ratón */
}
/* Agrega una capa de superposición semitransparente */
.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 10); /* Ajusta el color y la opacidad de la superposición */
  z-index: -1;
}

ion-toolbar {  
  --background: transparent; /* Hace el fondo de la barra de herramientas transparente */  
} 

ion-content {  
  --background: transparent; /* Asegúrate de que el contenido también sea transparente si es necesario */  
}  

/* Resto de estilos... */



/* Cambiar el tamaño de la imagen */
.mi-panel-header .panel {
  width: 100px;
  height: auto;
  margin: 10px; /* Agregar margen alrededor de la imagen */
  }
  
  /* Cambiar el tamaño de fuente del título */


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Ajusta la altura como desees */
  padding: 10px; /* Espaciado alrededor del contenido */
}



ion-card-content.login {
  background-color: rgba(255, 128, 0, 0.7); /* Fondo semi-transparente */
  margin-top: 60px;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ion-button {
  width: 100%;
}


/* Animación de bienvenida */
.ion-fade-in {
  animation: fadein 1.5s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación de tarjeta QR */
.ion-fade-in-up {
  animation: fadeinup 1s ease-in-out;
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h4 {
  color: #fff;
}

h2 {
  color: #070000;
}

.item-inner {
  color: rgb(255, 255, 255);
}